# Environments
.venv/
node_modules/
.idea/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Ignore ONLY huge raw data (not frontend json)
data/**/*.csv
outputs/**/*.csv

# Build
dist/
build/
.env
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
